{
    "src/**/!(*.spec).{ts,js}": ["eslint --fix", "prettier --write"],
    "src/**/*.spec.{ts,js}": ["prettier --write"],
    "test/**/*.{ts,js}": ["prettier --write"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}
